<form method="POST" action="/places/create">
    <label name="name">Name</label>
    <input type="text" placeholder="Unesi ime restorana" value="" name="name"/> <br>
    <label name="email">Email</label>
    <input type="email" placeholder="Unesi email" value="" name="email"/> <br>

    <label name="seats"></label>
    <input type="number" placeholder="Unesi broj mjesta" value="" name="seats"/> <br>
    <label name="stock"></label>
    <input type="number" placeholder="Unesi stock" value="" name="stock"/> <br>

    <button type="submit">Create</button>
   
</form>