<form method="POST" action="/users/logIn">
    <label name="username">Username</label>
    <input placeholder="Unesi korisnicko ime" value="" name="username"/> <br>
    <label name="password">Password</label>
    <input placeholder="Unesi sifru" value="" name="password"/> <br>

    <button type="submit">LogIn</button>
   
</form>