<form method="POST" action="/users/signUp">
    <label name="firstname">Firstname</label>
    <input placeholder="Unesi ime" value="" name="firstname"/><br>
    <label name="lastname">Lastname</label>
    <input placeholder="Unesi prezime" value="" name="lastname"/> <br>
    <label name="username">Username</label>
    <input placeholder="Unesi korisnicko ime" value="" name="username"/> <br>
    <label name="password">Password</label>
    <input placeholder="Unesi sifru" value="" name="password"/> <br>

    <label name="email">Username</label>
    <input placeholder="Unesi email" value="" name="email"/> <br>
    <label name="age">Age</label>
    <input placeholder="Unesi godine" value="" name="age"/> <br>

    <label name="status">Status</label>
    <select name="status">
        <option value="admin">Admin</option>
        <option value="vlasnik">Vlasnik</option>
        <option value="korisnik" selected="selected">Korisnik</option>
    </select><br>
    <button type="submit">Submit</button><br>
</form>